@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Inter";
  padding: 1.2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  min-width: 600px;
  max-width: 1080px;
  min-height: 600px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 2rem;
  border-radius: 20px;
}
h2 .wallet-logo {
  color: #2f2fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.balance h4 {
  color: #989898;
  font-size: small;
  font-weight: 600;
}

.income-exp {
  padding: 1.3rem 0rem 1.3rem 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.income-exp .income,
.expense {
  width: 250px;
  height: 100px;
  border: 1px #e6e4e4 solid;
  border-radius: 20px;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}
.in-ex-amount {
  font-size: 1.3rem;
}
.hr {
  max-width: 100%;
  height: 1px;
  background-color: #989898;
}
.sub-headers {
  font-weight: 600;
  font-size: 1.2rem;
}
.transaction {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.transaction input,
button {
  height: 35px;
  border-radius: 5px;
  border: solid #e6e4e4 2px;
  outline-color: #5c5cfa;
  padding-left: 0.4rem;
  font-size: 1rem;
}
.transaction label span {
  display: block;
  font-size: 0.9rem;
  color: #989898;
}
.transaction button {
  outline: none;
  border: none;
  background-color: #5c5cfa;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
/* .transactions{
  width: 100%;
  height: 35px;
  padding-top: 0.8rem;
  border: 2px solid #e6e4e4 ;
  border-radius: 5px;
} */
ul {
  list-style: none;
  font-weight: 600;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
}
ul li {
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #e6e4e4;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  font-weight: 400;
  font-size: 0.9rem;
  color: #989898;
}
.trash:hover{
  color: red;
  transition:0.9 ease;
}
